@import "~antd/dist/antd.css";

.images {
  height: 50vh;
  width: 17vw;
  background-size: auto;
}

.resume {
  font-weight: bold;
  font-size: 35px;
  font-family: fantasy;
  color: #311f96;
  margin-top: 45%;
  position: relative;
  margin-left: 57%;
}

.fileIcon {
  margin-left: 15px;
  color: #311f96;
}

.carouselForm {
  position: absolute;
  display: inline-block;
  width: 25vw;
  box-sizing: border-box;
  padding-left: 4vw;
  background-color: rgba(14, 14, 27, 0.664);
  border-radius: 40px;
  margin-left: 60%;
  margin-right: 20%;
  margin-top: 5%;
  background-size: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.aboutForm {
  position: absolute;
  display: inline-block;
  width: 40vw;
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: rgba(14, 14, 27, 0.664);
  border-radius: 40px;
  margin-right: 10%;
  margin-top: 80px;
  color: whitesmoke;
  margin-left: 85px;
  background-size: auto;
}



.aboutGrid {
  display: grid;
  grid-gap: 100px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.paragraph {
  grid-column: 1 / 2;
  font-size: 1.75em;
}

.pics {
  grid-column: 2 / 3;
}

.aboutContainer {
  overflow-y: scroll;
  height: 95vh;
}