@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.topnav {
  background: rgba(14, 14, 27, 0.664);
  overflow: hidden;
  height: 5%;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav:active {
  background-color: rgb(26, 155, 214);
  color: rgb(141, 231, 227);
}
.topnav a:hover {
  background-color: rgb(34, 143, 194);
  color: rgb(252, 240, 240);
}

.clearColor {
  background-color: rgba(0, 0, 0, 0);
}

.backgroundClass {
  background: linear-gradient(
    270deg,
    #0f5e9c,
    #2389da,
    #1ca3ec,
    #5abcd8,
    #74ccf4
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}