@import '~antd/dist/antd.css';
.App {
  text-align: center;
}


.topnav {
background:  rgba(14, 14, 27, 0.664);
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav:active {
  background-color: rgb(26, 155, 214);
  color:rgb(141, 231, 227);
}
.topnav a:hover {
  background-color:  rgb(34, 143, 194);
  color: rgb(252, 240, 240);
}


.clearColor {
  background-color: rgba(0,0,0,0);
}

