.gridStyle {
   
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-column-gap: 90px;
        grid-row-gap: 90px;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-template-columns: 200px 200px;
        background-color: rgba(14, 14, 27, 0.664)
    
}

.projects {
    height: 40vh;
    width: 40vw;
}